@media screen and (max-width: 600px) {
  #A {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
  }
  #c1, #c2, #c3 {
    width: 100%;
    float: none;
    margin-left: 0;
  }
  #F {
    height: auto;
  }
  #F1 {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}
